# Docker Environment Variables
# Copia este archivo a .env y modifica los valores

# Puerto
SERVER_PORT=3000

# UPS
UPS_NAME=ups

# Monitoreo
POLL_INTERVAL=5000
POWER_LOST_THRESHOLD=2
LOW_BATTERY_THRESHOLD=20

# Desarrollo
MOCK_MODE=false